<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div>
      <div>Injector Issue</div>
      <ion-button routerLink="/angular">Angular</ion-button>
      <ion-button routerLink="/ionic">Ionic</ion-button>
      <ion-button routerLink="/app-service">Angular App Service</ion-button>
    </div>
    <div>
      <div>Working</div>
      <ion-button routerLink="/angular-working">Angular</ion-button>
      <ion-button routerLink="/ionic-working">Ionic</ion-button>
      <ion-button routerLink="/provided-in-root">Provided In Root</ion-button>
    </div>
  </div>
</ion-content>
